adal
apache-libcloud
applicationinsights
argcomplete
astroid
autopep8
azure-cli-core
azure-cli-nspkg
azure-cli-telemetry
azure-common
azure-core
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-resource
azure-mgmt-subscription
azure-nspkg
bcrypt
boto3
botocore
cachetools
certifi
cffi
chardet
colorama
cryptography
docutils
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-resource-manager==0.30.2
googleapis-common-protos
httplib2
humanfriendly
idna
isodate
isort
jmespath
knack
lazy-object-proxy
mccabe
msal
msal-extensions
msrest
msrestazure
oauth2client
oauthlib
paramiko
pkginfo
portalocker
progress
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
Pygments
PyInquirer
PyJWT
pylint
PyNaCl
pyOpenSSL
python-dateutil
python-terraform
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
s3transfer
six
tabulate
toml
uritemplate
urllib3
wcwidth
wrapt
